  /* Navbar */

a, h1 {
    font-family: 'Thasadith', sans-serif;
    font-weight: 700; 
    color: #000000 !important; 
    text-transform: uppercase; 
    letter-spacing: 3px; 
    text-decoration: none;
    display: table;
}

ul {
    margin: 0 auto;
    list-style: none;
}

nav ul {
    list-style: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 55px;
    margin-bottom: 100px;
}
  
nav ul li {
    display: inline-block;
    padding: 0 10px;
}
.dropdown {
    float: left;
    overflow: hidden;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(117, 216, 230);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

 /* Logo */

 .logo {
    width: 140px;
    display: inline-block;
    padding: 0 10px;
}


  /* Main body */

body {
    background-image: radial-gradient( circle 673px at 10% 20%,  rgb(243, 224, 194) 0%, rgb(189, 245, 237) 48.5%, rgb(197, 213, 250) 97.8% );
    background-repeat: no-repeat;
    font-family: 'Thasadith', sans-serif;
    font-size: 1.1rem;
    opacity:0.8;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: -webkit-center;
    background-size: cover;
    min-height: 100vh; 
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

button {
    background-color: #FCFADE;
    padding: 10px 10px;
    margin: 25px;
    border: none;
    cursor: pointer;
    width: 15%;
    position: center;
    font-family: 'Thasadith', sans-serif;
    font-size: 1em;
    border-radius: 35px;
	line-height: 50px;
	border: none;
    padding: 0 30px;
    display: block;
}

button:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.container {
	margin-top: 80px;
    display: flex;
}

/* Upload */

form {
    display: block;
    margin-top: 120px;
}

#upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
    visibility: hidden;
}

  /* Footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height:50px;
}

 #copyright-paragraph {
    font-size: 0.8em;
}

 /* Signup and login form */

input[type=text], input[type=password] {
    width: 30%;
    padding: 12px 12px;
    margin: 15px 0;
    display: block;
    border-radius: 30px;

}

.account-container {
    width: 35%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.account-container label {
    visibility: hidden;
}

.back, .bottom {
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: 2;
    transform-origin: bottom;
    transform-box: fill-box;
}

/* reminder form */

.reminder-container, .subscriber-container {
    width: 50%;
    padding-right: 850px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 15px;
    margin-top: 100px;
}

.reminder-container label, .subscriber-container label, .account-container label {
    visibility: hidden;
    display: block;
}

#subscribers thead,
#subscribers th, td,
#users thead,
#users th, td,
#reminders thead,
#reminders th, td  {
  text-align: center;
  color:black !important;
}

.dt-center {
text-align: center;
}

#subscribers_wrapper, #users_wrapper, #reminders_warapper {
display: block;
}

label {
display: inline-block;
margin: 25px;
}

.floating-btn {
background-color: #AFC7D0;
width: 70px;
position: fixed;
bottom: 40px;
right: 40px;
vertical-align: middle;
font-size: 50px;
text-align: center;
line-height: 70px;
border-radius: 100%;
}

.floating-btn:hover {
background-color: pink;
}

@keyframes move {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}